.invoices-view {
  margin: 40% 0 20% 0;
  padding: 0 3%;
  max-width: 100%;
  h2 {
    font-weight: bold;
    text-align: center;
    margin: 10% 0;
  }
  .overflow {
    overflow-x: auto;
    table {
      display: flex;
      font-size: 100%;
      text-align: center;
      width: 100%;
      th {
        padding: 2%;
        color: #9ca2ad;
        font-weight: bold;
      }
      td {
        padding: 2%;
        color: black;
        border-bottom: 1px solid #d4dcec;
        a {
          text-decoration: none;
          color: black;
          &:hover {
            color: #0011ad;
            transition: 0.25s ease-out;
          }
        }
      }
    }
  }
}

.invoice-detail {
  margin: 44% 2%;
  h2 {
    margin: 10% 2% 15% 2%;
    font-weight: bold;
  }
  section {
    margin: 5% 0 11% 0;
    h2 {
      margin: 10% 2% 15% 2%;
      font-weight: bold;
    }
    .overflow {
      overflow-x: auto;
      table {
        font-size: 100%;
        text-align: center;
        width: 100%;
        th {
          padding: 5%;
          color: #9ca2ad;
          font-weight: bold;
        }
        td {
          padding: 5%;
          color: black;
          border-bottom: 1px solid #d4dcec;
          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }
}
